parameters:
    level: max
    paths:
        - action.php
        - src
        - tests
    ignoreErrors:
        -
            message: '#Runner::run\(\) expects array#'
            path: tests/RunnerTest.php